body {
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

canvas {
  background-color: #eee;
}

.interactives-container {
  position: absolute;
  padding: 0.5rem;
  top: 0px;
  left: 0px;
}
